<div class="card" style="width: 28rem; height: 10rem; box-shadow: 0px 5px 5px 0px;">
    <div class="card-body">
      <h5 class="card-title">{{cardDetails.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{cardDetails.subtitle}}</h6>
      <p class="card-text">{{cardDetails.content}}</p>
      <a href="#" class="card-link">{{cardDetails.link}}</a>
      <a href="#" class="card-link">{{cardDetails.sublink}}</a>
    </div>
  </div>