<app-bar></app-bar>


<div style="margin:15px 15px 15px 35px ; display: inline-block;" *ngFor="let card of cards">
    <app-card [cardDetails]="card"></app-card>
</div>



<hr>


<router-outlet></router-outlet>